body{
  background:  #202020;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
}
.header-content {
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column; /* Asegura que los componentes estén apilados verticalmente */
  align-items: center; /* Centra horizontalmente los elementos dentro del contenedor */
  padding-top: 60px; /* Ajusta el espacio superior para dejar espacio para el encabezado */
}

.main-content {
  width: 50%;
  margin: 0 25%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main-content {
    width: 80%;
    margin: 0 auto; /* Esto centrará el contenido horizontalmente */
    padding: 0 10%;
  }
}